{% extends 'base.html' %} {% block content %}

<div class="checkout-page">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="checkout-content">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item tab1">
              <a
                class="nav-link active"
                id="pills-home-tab"
                data-toggle="pill"
                href="#pills-home"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
                >Billed Monthly</a
              >
            </li>
            <li class="nav-item tab2">
              <a
                class="nav-link"
                id="pills-profile-tab"
                data-toggle="pill"
                href="#pills-profile"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
                >Billed Yearly</a
              >
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-home"
              role="tabpanel"
              aria-labelledby="pills-home-tab"
            >
              <h1>${{ plan.price }}<span>/mo</span></h1>
            </div>
            <div
              class="tab-pane fade"
              id="pills-profile"
              role="tabpanel"
              aria-labelledby="pills-profile-tab"
            >
              <h1>
                ${% if plan.limit == True %}{{ price_basic_ye }}{% else %}{{price_pro_ye}}{% endif %}<span>/ye</span>
              </h1>
            </div>
          </div>

          <div id="paypal-button"></div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card plan-detail">
          <div class="card-body">
            <h5
              class="title-{% if plan.limit == False %}pro{% else %}basic{% endif %}"
            >
              {{ plan.name }}
            </h5>

            <ul>
              <li>
                <p class="unlimit">
                  Unlimited Music Licensesu <i class="fas fa-check"></i>
                </p>
              </li>
              <li>
                <p class="unlimit">
                  New Music Added Weekly <i class="fas fa-check"></i>
                </p>
              </li>
              <li>
                <p class="unlimit">
                  Lifetime use for the songs you download
                  <i class="fas fa-check"></i>
                </p>
              </li>
              <li>
                <p class="{% if plan.limit == False %}un{% endif %}limit">
                  Unlimited use in paid advertising
                  <i
                    class="fas {% if plan.limit == False %} fa-check {% else %} fa-times {% endif %}"
                  ></i>
                </p>
              </li>
              <li>
                <p class="{% if plan.limit == False %}un{% endif %}limit">
                  Sound Effects
                  <i
                    class="fas {% if plan.limit == False %} fa-check {% else %} fa-times {% endif %}"
                  ></i>
                </p>
              </li>
              <li>
                <p class="{% if plan.limit == False %}un{% endif %}limit">
                  Songs with stems
                  <i
                    class="fas {% if plan.limit == False %} fa-check {% else %} fa-times {% endif %}"
                  ></i>
                </p>
              </li>
            </ul>

            <div class="actions">
              <a
                href="/plans/{{ switch_plan_id }}"
                class="btn btn-primary btn-{% if plan.limit == False %}pro{% else %}basic{% endif %}"
                >Switch to {{ switch_plan }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  var plan_current = "{{id}}";
  var typePlan = "monthly";
  var totalPrice = "{{ plan.price }}";

  // if (plan_current == "pro") {
  //   totalPrice = "45.00";
  // }
  $(document).ready(function () {
    $("#pills-tab").on("click", "li", function () {
      console.log(this);
      var checkClass = $(this).hasClass("tab2");
      console.log(checkClass);
      if (checkClass) {
        typePlan = "annual";

        if ("{{ plan.limit }}" == "False") {
          console.log("Ahihi");
          totalPrice = "{{price_pro_ye}}";
        } else {
          console.log("Ahuhu");
          totalPrice = "{{price_basic_ye}}";
        }
        // if (plan_current == "pro") {
        //   totalPrice = "399.00";
        // } else {
        //   totalPrice = "99.00";
        // }
      } else {
        typePlan = "monthly";
        // if (plan_current == "pro") {
        //   totalPrice = "45.00";
        // } else {
        //   totalPrice = "10.00";
        // }

        totalPrice = "{{ plan.price }}";
        // if('{{ plan.limit }}' == 'True'){
        //   console.log('Ahihi')
        // } else {
        //   console.log("Ahuhu")
        // }
      }
    });
  });

  paypal.Button.render(
    {
      // Configure environment
      env: "sandbox",
      client: {
        sandbox:
          "AYafbXKO1imaNYvAfIw8QYIF8M9Zv_aecPtIFEvxDZwQW8DtT32w5lksKR8e3eegFGaaucFczF28pL3l",
        production: "demo_production_client_id",
      },
      // Customize button (optional)
      locale: "en_US",
      style: {
        size: "responsive",
        color: "gold",
        shape: "pill",
        label: "paypal",
      },

      // Enable Pay Now checkout flow (optional)
      commit: true,

      // Set up a payment
      payment: function (data, actions) {
        return actions.payment.create({
          transactions: [
            {
              amount: {
                total: totalPrice,
                currency: "USD",
              },
            },
          ],
        });
      },
      // Execute the payment
      onAuthorize: function (data, actions) {
        return actions.payment.execute().then(function (results) {
          console.log("results: ", results);
          localStorage.setItem("data_paypal", JSON.stringify(results));

          // Show a confirmation message to the buyer
          if (results && results.payer) {
            if (results.payer.status == "VERIFIED") {
              window.location.href = `/plans/${plan_current}/success`;
            } else {
              window.location.href = `/plans/${plan_current}/error`;
            }
          } else {
            window.location.href = `/plans/${plan_current}/error`;
          }
        });
      },
    },
    "#paypal-button"
  );
</script>

{% endblock content %}
