{% extends 'base.html' %}


{% block content %}

<div class="plans-page">
  <div class="container">
    <h1>The Best Plan For You</h1>
    <p class="des">
      The initial results of using these models to estimate the number of
      monopoles created in the big bang contradicted
    </p>

    <div class="plans">
      <div class="row">

        {% for plan in plans %}
          {% if plan.role == 'Monthly' %}
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h4 class="title-{% if plan.limit == True %}basic{% else %}pro{% endif %}">{{ plan.name }}</h4>
                <h3 class="price">${{ plan.price }} <span>/mo</span></h3>
                <h5 class="price">(${% if plan.limit == True %}{{price_basic_ye}}{% else %}{{ price_pro_ye }}{% endif %} <span>/ye</span>)</h5>
  
                <ul>
                  <li>
                    <p class="unlimit">Unlimited Music Licensesu <i class="fas fa-check"></i></p>
                  </li>
                  <li>
                    <p class="unlimit">New Music Added Weekly <i class="fas fa-check"></i></p>
                  </li>
                  <li>
                    <p class="unlimit">
                      Lifetime use for the songs you download <i class="fas fa-check"></i>
                    </p>
                  </li>
                  <li>
                    <p class="{% if plan.limit == False %}un{% endif %}limit">Unlimited use in paid advertising <i class="fas {% if plan.limit == False %} fa-check {% else %} fa-times {% endif %} "></i></p>
                  </li>
                  <li>
                    <p class="{% if plan.limit == False %}un{% endif %}limit">Sound Effects <i class="fas {% if plan.limit == False %} fa-check {% else %} fa-times {% endif %} "></i></p>
                  </li>
                  <li>
                    <p class="{% if plan.limit == False %}un{% endif %}limit">Songs with stems <i class="fas {% if plan.limit == False %} fa-check {% else %} fa-times {% endif %} "></i></p>
                  </li>
                </ul>
  
                <div class="actions">
                  <a href="/plans/{{ plan.id }}" class="btn btn-primary btn-{% if plan.limit == True %}basic{% else %}pro{% endif %}">Pay now</a>
                  <!-- <a href="/plans/{% if plan.limit == True %}basic{% else %}pro{% endif %}" class="btn btn-primary btn-{% if plan.limit == True %}basic{% else %}pro{% endif %}">Pay now</a> -->
                </div>
              </div>
            </div>
          </div>
          
          {% endif %}
        {% endfor %}

        
        <!-- <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h4 class="title-pro">Pro</h4>
              <h3 class="price">$45.00 <span>/mo</span></h3>
              <h5 class="price">($399.00 <span>/ye</span>)</h5>

              <ul>
                <li>
                  <p class="unlimit">Unlimited Music Licensesu <i class="fas fa-check"></i></p>
                </li>
                <li>
                  <p class="unlimit">New Music Added Weekly <i class="fas fa-check"></i></p>
                </li>
                <li>
                  <p class="unlimit">
                    Lifetime use for the songs you download <i class="fas fa-check"></i>
                  </p>
                </li>
                <li>
                  <p class="unlimit">Unlimited use in paid advertising <i class="fas fa-check"></i></p>
                </li>
                <li>
                  <p class="unlimit">Sound Effects <i class="fas fa-check"></i></p>
                </li>
                <li>
                  <p class="unlimit">Songs with stems <i class="fas fa-check"></i></p>
                </li>
              </ul>

              <div class="actions">
                <a href="/plans/pro" class="btn btn-primary btn-pro">Pay now</a>
              </div>
            </div>
          </div>
        </div> -->
        
      </div>
    </div>
  </div>
</div>
  
{% endblock content %}
  