{% extends 'base.html' %}


{% block content %}

<div class="plans-page">
  <div class="container">
    <h1>The Best Plan For You</h1>
    <p class="des">
      The initial results of using these models to estimate the number of
      monopoles created in the big bang contradicted
    </p>

    <div class="plans">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h4 class="title-basic">Basic</h4>
              <h3 class="price">$10.00 <span>/mo</span></h3>
              <h5 class="price">($99.00 <span>/ye</span>)</h5>

              <ul>
                <li>
                  <p class="unlimit">Unlimited Music Licensesu <i class="fas fa-check"></i></p>
                </li>
                <li>
                  <p class="unlimit">New Music Added Weekly <i class="fas fa-check"></i></p>
                </li>
                <li>
                  <p class="unlimit">
                    Lifetime use for the songs you download <i class="fas fa-check"></i>
                  </p>
                </li>
                <li>
                  <p class="limit">Unlimited use in paid advertising <i class="fas fa-times"></i></p>
                </li>
                <li>
                  <p class="limit">Sound Effects <i class="fas fa-times"></i></p>
                </li>
                <li>
                  <p class="limit">Songs with stems <i class="fas fa-times"></i></p>
                </li>
              </ul>

              <div class="actions">
                <a href="/plans/basic" class="btn btn-primary btn-basic">Pay now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h4 class="title-pro">Pro</h4>
              <h3 class="price">$45.00 <span>/mo</span></h3>
              <h5 class="price">($399.00 <span>/ye</span>)</h5>

              <ul>
                <li>
                  <p class="unlimit">Unlimited Music Licensesu <i class="fas fa-check"></i></p>
                </li>
                <li>
                  <p class="unlimit">New Music Added Weekly <i class="fas fa-check"></i></p>
                </li>
                <li>
                  <p class="unlimit">
                    Lifetime use for the songs you download <i class="fas fa-check"></i>
                  </p>
                </li>
                <li>
                  <p class="unlimit">Unlimited use in paid advertising <i class="fas fa-check"></i></p>
                </li>
                <li>
                  <p class="unlimit">Sound Effects <i class="fas fa-check"></i></p>
                </li>
                <li>
                  <p class="unlimit">Songs with stems <i class="fas fa-check"></i></p>
                </li>
              </ul>

              <div class="actions">
                <a href="/plans/pro" class="btn btn-primary btn-pro">Pay now</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
  
{% endblock content %}
  